<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body class="profile">

    <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li><a href="/home">Home</a>
          </li>
          <li><a href="/profile">About</a>
          </li>
          <li><a href="/work">Best Episodes</a>
          </li>
        </ul>
      </nav>

  <div class="about">
    <h1>Rick and Morty</h1>
    <div class="pic" >
      <img class="rick" src="/images/rick.gif" alt="rick-img" >
      <h3>Rick Sanchez</h3>
      <p>He is a megagenius scientist whose alcoholism and reckless, nihilistic behavior are sources of concern for his "daughter's" family, as well as the safety of their son, Morty. He fought for some time in the resistance movement against the Galactic Federation, alongside Birdperson and Squanchy. </p>
    </div>
    <div class="pic" >
      <img class="morty" src="/images/morty.gif" alt="morty-img" >
      <h3>Morty</h3>
      <p>Morty is 14 years old. He first met his grandfather, Rick Sanchez, when the latter moved into his home after supposedly being absent for 20 years. However, it was revealed that Rick is originally from Dimension C-137 and, after losing his wife and daughter, eventually moved into Morty's dimension to live with an adult version of Beth, his daughter.</p>
    </div>
    <div id="btn-container">
    <div>
    <p class= "adventure">Next, click to see my favorite  episodes</p>
     <div>
    <a class="btn" href="/work">Best Episodes</a>
     </div>
    </div>
    </div>  
  </div>
  
</body>
</html>