<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body id="last">

    <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li><a href="/home">Home</a>
          </li>
          <li><a href="/profile">About</a>
          </li>
          <li><a href="/work">Best Episodes</a>
          </li>
        </ul>
      </nav>


    <section id="episodes">
    <h1>Rick and Morty's <br>Adventures</h1>
    <div>
    <p class= "adventure">If you know you know! If you dont know, shame on you!</p>
    </div>
  <div>
    <article>
        <h4 class="name">Get Schwifty</h4>
        <img src="/images/tricksy.webp">
      </article>

      <article>
        <h4 class="name">Pickle Rick</h4>
        <img src="/images/Pickle_Rick.webp" alt="picke-img">
      </article>

      <article>
        <h4 class="name">Rattlestar Ricklactica</h4>
        <img src="/images/snake.webp">
        </article>
        <article>
        <h4 class="name">Claw and Hoarder</h4>
        <img src="/images/claw.webp">
      </article>

    <article>
        <h4 class="name">Anatomy Park</h4>
        <img src="/images/Anatomy.webp" alt="anatomy-img">
      </article>

      <article>
        <h4 class="name">Amortycan Grickfitti</h4>
        <img src="/images/Amortycan.webp" alt="amortycan-img">
      </article>

      <article>
        <h4 class="name">Meeseeks and Destroy</h4>
        <img src="/images/Meeseeks.webp" alt="meeseeks-img">
      </article>
      <article>
        <h4 class="name"> Mortynight Run</h4>
        <img src="/images/moonmen.webp" alt="moonmen-img">
      </article>
      <article>
        <h4 class="name">Night Family</h4>
        <img src="/images/night.webp" alt="night-img">
      </article>
      
      <article>
        <h4 class="name">Ricksy</h4>
        <img src="/images/Ricksy.webp">
      </article>
    </div> 
</section>
<div class="bottom-container">
    <div>
    <a class="footer-link" href="https://en.wikipedia.org/wiki/Rick_and_Morty">Wikipedia</a>
    
    <a class="footer-link" href="https://rickandmorty.fandom.com/wiki/Rickipedia">Fandom</a>
</div>
    <p class="copyright" >© Marisha Deroubaix.</p>
</div>
</body>
</html>